

.card-panel {
  transition: box-shadow .25s;
  padding: $card-padding;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  border-radius: 2px;
  @extend .z-depth-1;
  background-color: $card-bg-color;
}

.list-content{
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  div {
    display: inline-block;
    img{
      display: block;
      float: left;
      margin: 10px;
      width: 250px;
      height: auto;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
      @media (max-width: 950px){
        width: 220px;
      }
      @media (max-width: 820px){
        width: 200px;
      }

      @media (max-width: 730px){
        width: 150px;
      }

      @media (max-width: 575px){
        width: 120px;
      }

      @media (max-width: 480px){
        width: 240px;
      }

      @media (max-width: 400px){
        width: 210px;
      }
    }
      @media (max-width: 480px){
        display: inline-grid;
      }
  }
}

.list-images{
  margin-top: 20px;
  text-align: center;
  .item{
    -webkit-transition: all 60ms ease;
    transition: all 60ms ease;
    width: 33%;
    display: inline-block;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 4px -10px #777;
    @media (max-width: 890px){
      height: 280px;
      width: 200px;
      margin: 0px 5px;
    }

    @media (max-width: 710px){
      height: 200px;
      width: 180px;
    }

    @media (max-width: 650px){
      height: 200px;
      width: 150px;
    }

    @media (max-width: 600px){
      display: block;
      height: 400px;
      width: 100%;
      margin: 20px 5px;
      box-shadow: none;
    }
  }
}

.card { 
  margin: $element-top-margin 0 $element-bottom-margin 0;
  background-color: $card-bg-color;
  transition: box-shadow .25s;
  border-radius: 2px;
  @extend .z-depth-1;
  .card-title {
    font-size: 24px;
    font-weight: 300;
    &.activator {
      cursor: pointer;
    }

    &.escolaridade{
      &:before {
        content: "";
        display: inline-block;
        background-size: 100% 100%;
        height: 30px;
        width: 30px;
        margin: 0px 10px 0px 5px;
        vertical-align: middle;
        background-image: url(../assets/book.svg);
      }
    }
    &.filmes{
      &:before {
        content: "";
        display: inline-block;
        background-size: 100% 100%;
        height: 30px;
        width: 30px;
        margin: 0px 10px 0px 5px;
        vertical-align: middle;
        background-image: url(../assets/filmes.svg);
      }
    }
  }

  // Card Sizes
  &.small, &.medium, &.large {
    position: relative;

    .card-image {
      max-height: 60%;
      overflow: hidden;
    }
    .card-image + .card-content {
      max-height: 40%;
    }
    .card-content {
      max-height: 100%;
      overflow: hidden;
    }
    .card-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.small {
    height: 300px;
  }

  &.medium {
    height: 400px;
  }

  &.large {
    height: 500px;
  }

  // Horizontal Cards
  &.horizontal {
    &.small, &.medium, &.large {
      .card-image {
        height: 100%;
        max-height: none;
        overflow: visible;

        img {
          height: 100%;
        }
      }
    }

    display: flex;

    .card-image {
      max-width: 50%;
      img {
        max-width: 100%;
        width: auto;
      }
    }

    .card-stacked {
      display: flex;
      flex-direction: column;
      flex: 1;
      position: relative;

      .card-content {
        flex-grow: 1;
      }
    }
  }

  // Sticky Action Section
  &.sticky-action {
    .card-action {
      z-index: 2;
    }

    .card-reveal {
      z-index: 1;
      padding-bottom: 64px;
    }
  }




  .card-image {
    position: relative;

    // Image background for content
    img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    .card-title {
      color: $card-bg-color;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: $card-padding;
    }

  }

  .card-content {
    padding: $card-padding;
    border-radius: 0 0 2px 2px;

    p {
      margin: 0;
      color: inherit;
    }
    .card-title {
      line-height: 48px;
    }

    .escolaridade-mid{
      ul{
        li{
          .box{
            display: inline-block;
            text-align: left;
            vertical-align: middle;
          }
          img{
            object-position: center;
            height: 165px;
            width: 165px;
            border-radius: 50%;
            opacity: 1;
            transition: 0.3s;
            padding: 10px;
            vertical-align: middle;
            @media (max-width: 950px){
              height: 140px;
              width: 140px;
            }

            @media (max-width: 730px){
              height: 100px;
              width: 100px;
            }

            @media (max-width: 685px){
              height: 140px;
              width: 140px;
            }

            @media (max-width: 410px){
              height: 100px;
              width: 100px;
            }
            
            @media (max-width: 360px){
              height: 88px;
              width: 88px;
            }
          }
          .desc{
            display: block;
            font-size: 13px;
            text-transform: capitalize;
            letter-spacing: -1px;
            @media (max-width: 365px){
              font-size: 12px;
            }
          }
          .nome{
            width: 100%;
            padding: 10px 0 40px 0;
            font-size: 22px;
            font-weight: lighter;
            letter-spacing: -1px;

            &.destaque{
              letter-spacing: 3px;
              color: $grey-color;
              font-weight: bold;
              
              @media (max-width: 685px){
                font-size: 22px;
                display: inline;
              }

              @media (max-width: 365px){
                font-size: 20px;
              }

              @media (max-width: 350px){
                font-size: 15px;
              }
            }

            @media (max-width: 1000px){
              font-size: 20px;
            }

            @media (max-width: 950px){
              font-size: 18px;
            }

            @media (max-width: 840px){
              font-size: 15px;
            }

            @media (max-width: 685px){
              display: none;
            }
          }
        }
        @media (max-width: 450px){
          padding-left: 10px;
        }
      }
    }
  }

  .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,.2);
    padding: $card-padding;

    a:not(.btn):not(.btn-large):not(.btn-floating) {
      color: $card-link-color;
      margin-right: $card-padding;
      transition: color .3s ease;
      text-transform: uppercase;

      &:hover { color: $card-link-color-light; }
    }
  }

  .card-reveal {
    padding: $card-padding;
    position: absolute;
    background-color: $card-bg-color;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;

    .card-title {
      cursor: pointer;
      display: block;
    }
  }
}