<!DOCTYPE html>
<html>

  {% include head.html %}
  <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
          crossorigin="anonymous"></script>
  <body>
      <div class="outer">
        {% include header-about.html %}

        <div class="page-content">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>

        {% include footer.html %}
      </div>
  </body>
  <script type="text/javascript" src="../assets/js/skills.js"></script>
</html>
